<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.promasoft.trawellmate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".GoThroughAct"></activity>
        <activity android:name=".HomeAct" />
        <activity android:name=".ContactUsAct" />
        <activity android:name=".DetailsAct" />
        <activity android:name=".DemoEditAct" />
        <activity android:name=".LoginAct" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".WriteReview" />
        <activity android:name=".PrivacyAct" />
        <activity android:name=".SplashScreenAct" />
        <activity android:name=".YourBookings" />
        <activity android:name=".VerifyOtp" />
        <activity android:name=".UserAccountAct" />
        <activity android:name=".FaqAct" />
        <activity android:name=".ForgotPAsswordAct" />
        <activity
            android:name=".NotificationAct"
            android:theme="@style/AppTheme.TransparentWhite" />
        <activity android:name=".UserPassChngeAct" />
        <activity android:name=".AboutUsAct" />
        <activity android:name=".UserProfileAct" />
        <activity android:name=".MainActivity" /> <!-- android:theme="@style/AppTheme.Translucent" -->
        <activity android:name=".BookingAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>